@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap";

/* navbar */
.nav-right *:hover, .nav-left  > *:hover{
    opacity: 0.6;
}

.dropdown-item:hover{
    color: white;
    background-color: #212529;
}

.dropdown-toggle {
    outline: 0;
}

.bi {
    vertical-align: -.125em;
}

.nav-link{
    color: whitesmoke;
}

.nav-link:hover{
    background-color: white;
    color: black;
}

#myTable tr td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}

.main-l-sidebar{
    width: calc(100vw - 200px) ;
}

#myTable_wrapper {
    margin-top: 20px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    padding: 12px;
}
