#myTable  tr td{
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}
.dt-scroll-headInner, .table{
    width: 100% !important;
}

table > thead > tr  th{
    text-align: left !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

#myTable_wrapper{
    margin-top: 20px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    padding: 12px;
    height: 93vh;
}


