#myTable > thead{
    display: none;
}

.dt-scroll-head{
    height: 30px;
}

#myTable  tr td{
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.dt-scroll,.dt-scroll-headInner, .table{
    width: 100% !important;
}

 table > thead > tr  th{
    background-color: #F8F9FA !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

 #myTable_wrapper{
    margin-top: 20px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    padding: 12px;
    padding-top: 0;
    padding-bottom: 0;
}
.dt-scroll-foot{
    display: none;
}
