@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 90px;
    --first-color: #212529;
    --first-color-light: white;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

.sidebar{
    transition: .5s;
}

a {
    text-decoration: none
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1rem;

}

.nav_link-show{
    border-radius: 10px;
    margin: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav_logo {
    margin-bottom: 1rem
}

.nav_logo-icon {
    font-size: 2rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
    font-size: 1.3rem;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    transition: .3s
}

.nav_link:hover {
    background-color: white;
    color: black;
}

.nav-icon {
    font-size: 2rem
}

.show {
    left: 0
}

.sidebar-pd {
     padding-left: calc(var(--nav-width) + 5.5rem )
 }

.active {
    color: var(--white-color);
    background-color: #0d6efd;

}

.nav_name{
    font-size: 1.3rem;
}

.tooltip{

    max-width: 100px;
    padding: 0;
}


@media screen and (min-width: 768px) {
    body {
        padding-left: calc(var(--nav-width) - 26px)
    }

    .l-navbar {
        left: 0;
        padding: 0 0 0 0;
        width: 64px;
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .sidebar-pd {
        padding-left: calc(var(--nav-width) + 5.5rem )
    }
}
